@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-image:url(img/logo.png);
    background-repeat:no-repeat;
    background-position:top right;
    background-size:25%;
    padding:3%;
    box-sizing:border-box;
    font-family: "Oswald", sans-serif;
}

h1 {
    width: 50%;
    margin:auto;
    text-shadow:1px 1px 4px grey;
    text-align:center;
}

hr {
    width: 50%;
    height: 4px;
    background-color: #50327e;
    border-radius: 5px;
    margin-top:25px;
}

p {
    width: 50%;
    text-align: center;
    font-size:20px;
    margin:23px auto auto;
    padding:13px;
    line-height:30px;
}

form {
    width:50%;
    background-color: #50327e;
    text-align: center;
    margin: 30px auto auto;
    padding: 30px;
    border-radius: 13px;
    opacity:0.65;
}

.sign-in, .sign-up {
    color:black;
    text-decoration:none;
    padding:1%;
}

.active {
    color:white;
    border-bottom:2px solid orange;
}

.sign-in:hover, .sign-up:hover {
    color:#e1e;
}

.fields p {
    color:#bbb;
    font-size:15px;

}

.fields input[type="text"],
.fields input[type="password"] {
    width: 90%;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: #60428e;
    border:none;
    text-align: center;
    color:white;
    opacity: 0.9;
}

.wrapper {
    text-align:center;   
}

.wrapper p {
    display: inline;
}

.wrapper input {
    width: auto;
}

.btn-back {
    display: block;
    margin:auto;
    text-align: center;
    margin-top: 30px;
}

.about {
    width: 90%;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: #60428e;
    border:none;
    text-align: center;
    opacity: 0.9;
}

.button {
    width: 90%;
    margin-top: 10px;
    padding: 8px 5px;
    background-color: orange;
    border-radius: 15px;
    font-size:18px;
    color:black;
      font-family: "Oswald", sans-serif;
}

.button:hover {
    background-color: black;
    color:orange;
}

form hr {
    width: 90%;
    height: 0;
    filter: blur(2px);
}

.clash {
    color:white;
    text-decoration: none;
}

.left-div {
    text-align: left;
    margin-left: 5%;
}